:root {
  --backdrop-z-index: 9999;
  --overlay-z-index: 10000;
}

div.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1000000;
  background: #ff669ec0;
  -webkit-border-top-left-radius: var(--overlay-radius);
  -webkit-border-top-right-radius: var(--overlay-radius);
  -moz-border-radius-topleft: var(--overlay-radius);
  -moz-border-radius-topright: var(--overlay-radius);
  border-top-left-radius: var(--overlay-radius);
  border-top-right-radius: var(--overlay-radius);
  backdrop-filter: blur(5px);

  /* 由上而下展開 */
  transform: translate(0, 100%);

  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

div.overlay.white-bg {
  background: white;
}

div.overlay.from-right {
  /* 由右而左展開 */
  transform: translate(100%, 0px);
}

/* Backdrop */

div.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: var(--backdrop-z-index);
  bottom: 0;
  left: 0;
}

div.backdrop.gray {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999;
}

/* Overlay 顯示 */

div.overlay.show {
  transform: translate(0, 0);
}

/* Overlay 標題 */

div.overlay div.title p {
  font-size: 1rem;
  color: #fff;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

div.overlay div.title p img {
  width: 20px;
}

div.overlay div.title p span.line {
  width: 30px;
  height: 1px;
  border-radius: 1px;
  background: #fff;
}

/* 關閉按鈕 */

div.overlay button.close {
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 0.25rem;
  height: 3rem;
  width: 30px;
  background: url(../images/close-icon.png) no-repeat center center;
  background-size: 30px 30px;
}

/* 提醒型遮罩 */

div.overlay.info-only {
  height: unset;
  display: flex;
  flex-direction: column;
}

div.overlay.info-only.show {
  transform: translate(0, 0);
}

div.overlay.info-only button.close {
  top: 0;
  right: 0.5rem;
}
div.overlay.info-only .title {
  height: 3rem;
}

div.overlay.info-only .content {
  color: white;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-grow: 1;
}

div.overlay.info-only .content .confirm-removal {
  width: 270px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  div.overlay.info-only .content .confirm-removal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  div.overlay.info-only#item-removed {
    height: 240px;
  }

  div.overlay.info-only#item-removed .content {
    padding-bottom: 20px;
  }
}

div.overlay.info-only .content button.confirm {
  padding: 0.25rem 1.5rem;
  border: 1px solid white;
  background: #ff99c3;
  color: white;
}

div.overlay.info-only .content img {
  width: 40px;
}

/* 分享遮罩 */

div.overlay#social-media-shares div.content ul {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

div.overlay#social-media-shares div.content ul li button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  width: 50px;
  padding: 0;
  font-size: 0.65rem !important;
  color: white;
}

div.overlay#social-media-shares div.content ul li button img {
  width: 100%;
  height: 100%;
}

/* 商品選項遮罩 */

div.overlay#product-options {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  max-height: 500px;
  height: fit-content;
}

div.overlay#product-options button.close {
  background-image: url(../images/close-icon-gray.svg);
  max-height: 30px;
  top: 0;
  right: -5px;
}

@media screen and (min-width: 1200px) {
  div.overlay#product-options > button.close {
    background: url(../images/arrow-grey.svg) center center no-repeat;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #b1b1b1;
    background-size: 40%;
    padding: 0px;
    transform: rotate(90deg);
    right: 5px;
    top: 5px;
  }
}

div.overlay#product-options div.options {
  max-height: 340px;
  overflow: scroll;
  flex-grow: 1;
}

div.overlay#product-options div.actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  div.overlay#product-options {
    position: fixed;
    width: 400px;
    border-radius: 0.8rem !important;
  }

  div.overlay#product-options:not(.product-detail) {
    position: fixed;
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0 !important;
  }
}

/* sold-out */
@media screen and (min-width: 768px) {
  div.overlay#sold-out-overlay {
    position: fixed;
    width: 300px;
    height: 170px;
    border-radius: 0.8rem !important;
    left: calc(50% - 150px);
    top: calc(50% - 85px);
    transform: unset !important;
  }

  div.overlay#sold-out-overlay .content {
    flex-direction: column;
    gap: 1rem;
  }
}

div.overlay.small.topup {
  position: fixed;
  width: 350px;
  height: 270px;
  top: 0;
  left: calc(50% - 150px);
  background: #ec5a8f !important;
  box-shadow: 0 5px 10px #444;
  border-radius: 0;
  -webkit-border-top-right-radius: var(--overlay-radius);
  -webkit-border-bottom-left-radius: var(--overlay-radius);
  -moz-border-radius-topright: var(--overlay-radius);
  -moz-border-radius-bottomleft: var(--overlay-radius);
  border-top-right-radius: var(--overlay-radius);
  border-bottom-left-radius: var(--overlay-radius);
  overflow: hidden;
}

div.overlay.text {
  position: fixed;
  width: 600px;
  top: 10vh;
  height: 80vh;
  left: calc(50% - 300px);
  border-radius: var(--overlay-radius);
  transform: unset !important;
  z-index: 100000;
}

@media screen and (max-width: 600px) {
  div.overlay.text {
    width: 500px;
    left: calc(50% - 250px);
    min-width: auto;
  }
}

@media screen and (max-width: 480px) {
  div.overlay.small.topup,
  div.overlay.text {
    width: 300px;
    left: calc(50% - 150px);
    min-width: auto;
  }
}

div.overlay.small.topup div.header,
div.overlay.text div.header {
  position: relative;
  padding: 1rem;
}

div.overlay.small.topup div.header img,
div.overlay.text div.header img {
  height: 30px;
  margin: 0 auto;
  display: block;
}

div.overlay.small.topup div.header button.close-button,
div.overlay.text div.header button.close-button {
  position: absolute;
  height: 30px;
  right: 2rem;
  top: 1rem;
  padding: 0;
  border-radius: 0;
}

div.overlay.small.topup div.header button.close-button img,
div.overlay.text div.header button.close-button img {
  height: 30px;
}
div.overlay.small.topup h4,
div.overlay.text h4 {
  background: #ffd4e8;
  padding: 1rem;
  text-align: center;
  color: #e23a80;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div.overlay.small.topup h4::before,
div.overlay.small.topup h4::after,
div.overlay.text h4::before,
div.overlay.text h4::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 2px;
  background: #e23a80;
}
div.overlay.small div.content {
  background: #faedf3;
  height: calc(100% - 170px);
}

div.overlay.text div.content {
  background: #faedf3;
  height: calc(100% - 200px);
  overflow: auto;
  padding: 1rem;
  display: block;
}

div.overlay.text div.content ul li {
  list-style: disc !important;
  margin-left: 20px;
  margin-bottom: 1rem;
}

div.overlay.small.topup div.content div.highlight.button-like {
  width: initial !important;
  height: 40px;
  padding-left: 0.5rem;
  letter-spacing: 0.2em;
}

div.overlay.text div.highlight.button-like {
  height: 42px;
}

div.overlay.small.topup div.content div.highlight.button-like:hover {
  filter: none;
}

div.overlay.small.topup div.content div.highlight img {
  width: 50px !important;
  margin-right: -1rem;
  height: auto;
  display: inline-block;
}

div.overlay.small.topup div.footer,
div.overlay.text div.footer {
  height: 60px;
  background: #ffd4e8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.overlay.text div.footer {
  height: 90px;
  border-bottom: 20px solid #f5bed2;
}

div.overlay.small.topup div.footer p,
div.overlay.text div.footer p {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 0.85rem;
}
div.overlay.small.topup div.footer p::after,
div.overlay.small.topup div.footer p::before,
div.overlay.text div.footer p::after,
div.overlay.text div.footer p::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  background: #666;
}

div.overlay.event-detail-overlay {
  position: fixed;
  top: 0;

  min-height: 100%;
  height: 100%;
  width: 930px;
  left: calc(50% - 465px);
  z-index: 100000;
  overflow-y: hidden;
  border-radius: 0;
  background: transparent;
  backdrop-filter: none;
}

div.overlay.event-detail-overlay .container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 9;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow-y: auto;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  div.overlay.event-detail-overlay {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 767px) {
  div.overlay.event-detail-overlay {
    width: 94%;
    left: 3%;
  }
  div.overlay.event-detail-overlay .container {
    padding: 3% 0;
  }
}

div.overlay.event-detail-overlay .content {
  width: 100%;
  background: #fff;
  border-radius: var(--overlay-radius);
  position: relative;
  padding: 0;
  height: initial;
  border: 10px solid #f0abca;
  display: inline-block;
}

div.overlay.event-detail-overlay .content img {
  width: 100% !important;
  margin: 0 auto;
  border-radius: 20px;
}

div.overlay.event-detail-overlay .stickers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 300px;
  gap: 1rem;
  overflow: auto;
  margin-bottom: 1rem;
}

div.overlay.event-detail-overlay .sticker-item {
  border-radius: 20px;
  background: #f9edf3;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
  margin: 4px;
  box-shadow: 0 4px 4px #999;
}

div.overlay.event-detail-overlay .sticker-item div.img-wrap {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.overlay.event-detail-overlay .sticker-item div.img-wrap img {
  width: 100%;
}

div.overlay.event-detail-overlay .sticker-item span.name {
  background: none;
  color: #f566a1;
  font-size: 1.2rem;
  width: 150px;
  gap: 10px;
  padding: 0;
}

@media screen and (max-width: 990px) {
  div.overlay.event-detail-overlay .sticker-item div.img-wrap {
    width: 120px;
    height: 120px;
  }
  div.overlay.event-detail-overlay .sticker-item span.name {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  div.overlay.event-detail-overlay .stickers {
    grid-template-columns: repeat(1, 1fr);
  }
  div.overlay.event-detail-overlay .sticker-item div.img-wrap {
    width: 120px;
    height: 120px;
  }
  div.overlay.event-detail-overlay .sticker-item span.name {
    width: 80px;
  }
}

div.overlay.event-detail-overlay .sticker-item span.name::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #f566a1;
}

div.overlay.event-detail-overlay .sticker-item span.point {
  height: 40px;
  overflow: hidden;
  font-size: 1.2rem;
  color: #f566a1;
}

div.overlay.event-detail-overlay .sticker-item span.point img {
  height: 40px;
  width: auto;
  margin-left: -13px;
  margin-right: -5px;
}

div.streamer-profile-overlay.full-width {
  z-index: var(--overlay-z-index) !important;
}

/*主播個人頁 滿版禮物圖*/

div.streamer-profile-overlay#gift-full-overlay,
div.streamer-profile-overlay#gift-full-overlay .content {
  background: transparent;
}

div.streamer-profile-overlay#gift-full-overlay {
  height: 100% !important;
  position: fixed;
  display: none;
  top: 0;
  backdrop-filter: blur(10px);
}

div.streamer-profile-overlay#gift-sent {
  position: fixed;
  z-index: calc(var(--overlay-z-index) + 1) !important;
}

@media screen and (min-width: 600px) {
  div.overlay.info-only {
    position: fixed;
    width: 300px;
    height: 200px;
    border-radius: var(--overlay-radius);
    left: calc(50% - 150px);
    bottom: calc(50% - 100px);
    transform: translate(0, 100vh);
  }

  div.overlay.info-only .content {
    flex-direction: column;
    gap: 1rem;
  }
}
