ul.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  padding: 0 1rem 1rem;
}

@media screen and (max-width: 1024px) {
  ul.product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  ul.product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

li.product {
  box-shadow: var(--product-card-shadow);
  min-width: 150px;
}

li.product div.content {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

li.product h5.name {
  margin: 0 auto;
  font-size: 1rem;
  width: 100%;
  height: 35px;
  max-width: 164px; /* 限制最多在20字*/
}

@media screen and (min-width: 1200px) {
  li.product h5.name {
    max-width: 175px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 320px) {
  li.product h5.name {
    margin: 0 auto;
    font-size: 0.785rem;
    max-width: 120px; /* 限制最多在20字*/
  }
}

li.product div.price-actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

li.product div.price p {
  font-size: 0.875rem;
}

@media screen and (max-width: 320px) {
  li.product div.price p {
    font-size: 0.785rem;
  }
}

.price p.original {
  text-decoration: line-through;
  color: var(--original-price-color);
}

.price p.discount {
  color: var(--discount-price-color);
}

li.product div.price-actions button {
  min-width: unset;
  min-height: unset;
  width: 30px !important;
  height: 30px !important;
  position: unset;

  background-repeat: no-repeat;
  background-position: center center;
}

/* Favorite Button */
li.product div.price-actions button.add-favorite {
  background-image: url(../images/heart-pink-outlined.svg);
  background-size: 20px 20px;
  background-position: 50% 70%;
}

li.product div.price-actions button.add-favorite.added {
  background-image: url(../images/heart-pink.svg);
}

/* Cart Button */
li.product div.price-actions button.add-to-cart {
  background-image: url(../images/round-cart-outlined.svg);
  background-size: 24px 24px;
  background-position: 50% 70%;
}

li.product div.price-actions button.add-to-cart:disabled {
  background-image: url(../images/round-cart-gray.svg);
}

li.product div.price-actions button.add-to-cart.added {
  background-image: url(../images/round-cart-pink.svg);
}

/* 商品選項 */

div.overlay#product-options div.product-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 150px;
  border-bottom: var(--bottom-border);
}

div.overlay#product-options div.product-info .img-wrap-s {
  width: 150px;
  height: 150px;
  padding-top: unset;
}

div.overlay#product-options div.product-info .img-wrap-s img {
  margin-top: 0;
}

div.overlay#product-options div.product-info .status {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.overlay#product-options div.product-info .price .original,
div.overlay#product-options div.product-info p.stocking {
  color: var(--original-price-color);
  font-size: 0.875rem;
}

div.overlay#product-options .options {
  display: flex;
  flex-direction: column;
}

.option-category {
  padding: 0.25rem 0.5rem 0.75rem;
}

.option-category:not(:first-child) {
  border-top: var(--bottom-border);
}

div.overlay#product-options h5 {
  color: var(--original-price-color);
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 2rem;
}
div.overlay#product-options .options ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

div.overlay#product-options .options ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  border-radius: 0.25rem;
  background: #f5f5f5;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  min-height: 30px;
}

div.overlay#product-options .options ul li.selected {
  border: 1px solid var(--orange-honey);
  color: var(--orange-honey);
}

div.overlay#product-options .options ul li.unavailable {
  color: var(--original-price-color);
}

div.overlay#product-options .options ul li .option-img {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.overlay#product-options .options ul li.unavailable .option-img {
  opacity: 0.5;
}

div.overlay#product-options .actions {
  border-top: var(--bottom-border);
}

div.overlay#product-options .actions form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  border-bottom: var(--bottom-border);
}

div.overlay#product-options .actions form {
  padding: 0.5rem;
}

div.overlay#product-options .actions .quantity-label h5 {
  line-height: 1.25rem;
}

form .quantity-reach-max {
  color: var(--dark-honey);
  margin-top: 0.25rem;
  display: block;
}

form .sold-out-text {
  color: var(--original-price-color);
  margin-top: 0.25rem;
  display: block;
}

div.overlay#product-options form .quantity-reach-max {
  font-size: 0.75rem;
}

form button.add,
form button.reduce {
  border-radius: 0.25rem;
  width: 35px;
  height: 35px;
  padding: 0;
  display: inline-block;
  border: 1px solid #000;
}

form.adjust-item-count button.reduce {
  transform: rotate(180deg);
}

form button.add:disabled,
form button.reduce:disabled {
  border-color: var(--original-price-color);
}

form button.add span.material-symbols-outlined,
form button.reduce span.material-symbols-outlined {
  font-size: 1rem;
}

form.adjust-item-count .unit {
  padding-left: 0.5rem;
  font-size: 1rem;
  color: var(--discount-price-color);
}

main.product-detail .summary form.adjust-item-count .adjustment {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

form input[type="number"] {
  width: 40px;
  font-size: 1rem;
}

form.adjust-item-count input[type="number"]::-webkit-outer-spin-button,
form.adjust-item-count input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
form.adjust-item-count input[type="number"] {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  width: 50px;
  margin: 0;
  -moz-appearance: textfield;
}

button.add:disabled span,
button.reduce:disabled span {
  color: var(--original-price-color);
}

div.overlay#product-options button.add-btn {
  margin: 1rem;
  width: auto;
}

button.add-btn.gray {
  background: var(--btn-gray-gradient) !important;
  pointer-events: none;
}

div.overlay#product-options button.add-btn.gray {
  pointer-events: unset;
}

div.overlay#product-options-missing {
  z-index: 10001;
}

/* 可滑動商品列表 */
#live-slides .slick-list,
#products-slides .slick-list,
#ranking-products-slides .slick-list,
#popular-products-slides .slick-list,
#popular-posts .slick-list {
  padding: 0 22% 0 0 !important;
}

.products-list-container.mobile-only {
  display: none;
}

@media screen and (max-width: 1200px) {
  .products-list-container.mobile-only {
    display: grid;
  }
  .products-list-container.desktop-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .products-list-container.mobile-only {
    padding: 0.5rem;
  }

  .products-list-container ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .slides-container ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    will-change: transform;
    overflow-y: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem !important;
  }

  .slides-container ul::-webkit-scrollbar-track {
    background: transparent;
  }

  .slides-container li:not(.post):not(.product) {
    max-width: none !important;
    width: 200px;
    flex-shrink: 0;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .products-list-container ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 商品介紹頁遮罩之促銷狀態 */

.status.promo .price .original,
.price.promo .original,
#product-options.promo .price .original {
  display: block;
}

.status:not(.promo) .price .original,
.price:not(.promo) .original,
#product-options:not(.promo) .price .original {
  /* display: none; */
}
