/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0 0 1rem;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  filter: none;
}

.slick-slide a:hover img {
  filter: none;
}

.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
  overflow: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* 修正 slick 問題：當slick slider圖片數量不足時之樣式 */
.product-zoom-in .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-zoom-in .img-wrap,
.product-nav .img-wrap {
  position: relative;
  height: 0;
  padding-top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 3px 5px #efefef;
  margin: 10px;
}

.product-nav .img-wrap {
  height: 100px;
  width: 100px;
  margin: 0;
  border-radius: 5px;
  padding-top: unset;
}

.product-zoom-in .img-wrap img,
.product-nav .img-wrap img {
  position: absolute;
  top: 0;
  width: auto !important;
  height: 100% !important;
}

.product-nav .slick-track {
  display: flex;
  min-width: 100%;
}

.product-nav .slick-slide {
  padding: 0.25rem;
  min-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
}

.product-nav .slick-slide img {
  height: 100% !important;
  width: auto !important;
  display: block;
}

.slick-dots {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 3px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li.slick-active button:before {
  color: #e9538e;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 26px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 4px rgb(93, 93, 93);
}

#main-slides .slick-slide a,
#product-slides .slick-slide a,
#highlighted-products-slides .slick-slide a,
#competition-slides .slick-slide a {
  position: relative;
  width: 100%;
  padding-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-slides .slick-slide a img,
#product-slides .slick-slide a img,
#main-slides .slick-slide a picture,
#highlighted-products-slides .slick-slide a img,
#product-slides .slick-slide a picture,
#highlighted-products-slides .slick-slide a picture,
#competition-slides .slick-slide a img {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  #main-slides .slick-slide a,
  #product-slides .slick-slide a {
    padding-top: 100%;
  }
  #main-slides .slick-slide a img,
  #main-slides .slick-slide a picture,
  #product-slides .slick-slide a img,
  #product-slides .slick-slide a picture,
  #highlighted-products-slides .slick-slide a picture {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
  }
}
